doctype html
html
  head
    title= title
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
    script(src='../lib/test.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
