extends layout

block content
  h1= GSTV 
  br
  br
  a(href='/site/new') Add New Site
  br
  h2 Current List of Sites:
  if sites
    each site in sites 
      a(href='/site/'+site._id)
        h4 #{site.name}
      p #{site.address}
  
  
  
  

  
