extends layout

block content
  h1 Update the Site Schedule:
  form(action='/site/'+site+'/schedule/update' method='post')
    div.form-group
      h1 Sunday
      h3 TimeSlot 1
      label Open 24Hrs
      input(type='checkbox' name='sunday.isOpenAllDay')
      label Open
      input(type='time' name='sunday.open')
      label Close
      input(type='time' name='sunday.close')    
    div.form-group
      h1 Monday
      h3 TimeSlot 1
      label Open 24Hrs
      input(type='checkbox' name='monday.isOpenAllDay')
      label Open
      input(type='time' name='monday.open')
      label Close
      input(type='time' name='monday.close')    
    div.form-group
      h1 Tuesday
      h3 TimeSlot 1
      label Open 24Hrs
      input(type='checkbox' name='tuesday.isOpenAllDay')
      label Open
      input(type='time' name='tuesday.open')
      label Close
      input(type='time' name='tuesday.close')    
    div.form-group
      h1 Wednesday
      h3 TimeSlot 1
      label Open 24Hrs
      input(type='checkbox' name='wednesday.isOpenAllDay')
      label Open
      input(type='time' name='wednesday.open')
      label Close
      input(type='time' name='wednesday.close')    
    div.form-group
      h1 Thursday
      h3 TimeSlot 1
      label Open 24Hrs
      input(type='checkbox' name='thursday.isOpenAllDay')
      label Open
      input(type='time' name='thursday.open')
      label Close
      input(type='time' name='thursday.close')    
    div.form-group
      h1 Friday
      h3 TimeSlot 1
      label Open 24Hrs
      input(type='checkbox' name='friday.isOpenAllDay')
      label Open
      input(type='time' name='friday.open')
      label Close
      input(type='time' name='friday.close')    
    div.form-group
      h1 Saturday
      h3 TimeSlot 1
      label Open 24Hrs
      input(type='checkbox' name='saturday.isOpenAllDay')
      label Open
      input(type='time' name='saturday.open')
      label Close
      input(type='time' name='saturday.close') 
    div.form-group
      br
      button(type='submit') Submit
    
