doctype
html(lang='en')
  head
    title Station Hours
    link(rel='stylesheet' href='app.css')
    script(async src='app.js')
  body
    h1 Station Hours
    app
    if(process.env.NODE_ENV !== 'production')
      script.
        var socket = new WebSocket('ws://'+window.location.hostname+':8081/');
        socket.onmessage = function(msg){
          if(msg.data === 'refresh') window.location.reload();
        };
        window.onbeforeunload = function(){
          return socket.close();
        };
