<% include header %>

  <h1><%-title %></h1>

  <form action="/view" method="post">
  <div>
    <span>Enter date of week in the following format: YYYY-MM-DD</span>
    <input type="text" name="date"></br>
    <span>Enter the numeric site id:</span>
    <input type="text" name="siteid"></br>
    <input type="submit" value="Submit">
  </div>
  </form>
 



<% include footer %>