body
  padding: 25px
  background: #eee
dropdown
.hidden
  display: none
.week
  display: flex
weekday
  display: flex
  flex-direction: column
  flex: auto
  &.closed:after
    content: 'Closed'
opening
closing
  display: block
  position: relative
  &:focus
    outline: none
    dropdown
      z-index: 5
      display: block
      background: white
      position: absolute
      box-shadow: 1px 3px 3px rgba(0,0,0,.5)
      alternative
        cursor: pointer
        display: block
        padding: 4px 8px
