body
  padding: 25px;
  background: #eee
.hidden
  display: none
.week {
  display: flex;
}
weekday
  display: flex;
  flex-direction: column;
  flex: auto
  &.closed:after
    content: 'Closed'
opening
closing
  display: block
